# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# node_modules
node_modules
.env
.env.local
.env.development
.env.test.local
.env.production.local

#miniprogram_npm
miniprogram_npm
dist
.DS_Store
.idea
.vscode
.wxml
